<div class="container my-5">
  <div class="row">

    <!-- Appareils -->
    <div class="col-sm-12">
      <h2>Mes appareils</h2>

      <p>Mis à jour : {{ lastUpdate | async | date: 'medium': '': 'fr' | uppercase }}</p>

      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status">
        </app-appareil>
      </ul>

      <button class="btn btn-success mt-2"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout allumer
      </button>
    </div>
    <!-- ./ appareils -->

  </div>
</div>
